<h1>Listing missions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Specialty</th>
    <th>Difficulty</th>
    <th>Status</th>
    <th>Reward</th>
    <th>Agent</th>
    <th>Prob (%)</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @missions.each do |mission| %>
  <%= render 'mission_line', mission: mission %>
<% end %>
</table>

<br />

<%= link_to 'New Mission', new_mission_path %>
<%= link_to 'Headquarters', headquarters_path %>