<h1>Listing agents</h1>


<table>
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th>Level</th>
    <th>Status</th>
    <th>Contracted</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agents.each do |agent| %>
  <%= render 'agent_line', agent: agent %>
<% end %>
</table>

<br />

<%= link_to 'New Agent', new_agent_path %>
<%= link_to 'Headquarters', headquarters_path %>
